.hl2 {
    font-family: var(--font-montse);
    width: 500;
    color: var(--foreground);
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
.header_style {
    display: flex;

    justify-content: space-between;
    flex-direction: row !important;
  }
.navbar{
    
    display: flex;
    justify-content: center;
    flex-direction: row !important;
  }